.cardsize {
    margin-top: 4% !important;
    min-width: 600px !important;
    max-width: 600px !important;
    padding-left: 100px !important;
    padding-right: 80px !important;
    border: none !important;
    font-family: 'Source Sans Pro' ,source-code-pro;
}

a{
    text-decoration: none !important;
}

.cards{
    background-color: transparent !important;
    color: #ffffff;
    border: none !important;  
}

.cards :hover{
    border-radius: 15px !important;
}


a :hover{
    text-decoration:underline rgba(255, 255, 255, 0.25) !important;
}

.port-header{
    margin-top: 30px;
    margin-left: 90px;

}